@font-face {
  font-family: 'Ubuntu-Regular';
  font-display: swap;
  src: local('Ubuntu-Regular'), url('~@/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-display: swap;
  src: local('Ubuntu-Medium'), url('~@/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  font-display: swap;
  src: local('Ubuntu-Bold'), url('~@/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  font-display: swap;
  src: local('Ubuntu-Italic'), url('~@/assets/fonts/Ubuntu-Italic.ttf') format('truetype');
}